<md-card>
    <md-card-header>
      <div md-card-avatar class="">
        <i class="material-icons avatar-font-size" [style.color]="isDisplay ? 'green' : 'black'">language</i>
      </div>
      <md-card-title>Rest API</md-card-title>
      <md-card-subtitle>Bütün veriyi al!</md-card-subtitle>
      <span class="example-spacer"></span>
      <button md-button color="primary" (click)="getAllData()">Pull</button>
    </md-card-header>
    <md-card-content>
      <div fxLayout="row" class="chart-content" *ngIf="isDisplay">
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [legend]="showLegend"
          [explodeSlices]="explodeSlices"
          [labels]="showLabels"
          [doughnut]="doughnut"
          [gradient]="gradient"
          (select)="onSelect($event)">
        </ngx-charts-pie-chart>
      </div>
    </md-card-content>
</md-card>