<div class="mat-elevation-z6">
  <md-toolbar color="primary">
    <span>STOMP vs Http</span>
    <span class="example-spacer"></span>
    <a md-icon-button color="primary" href="https://github.com/offwork/websocket-app" target="_blank">
      <md-icon svgIcon="github-logo" class="md-24" aria-label="GitHub Logo"></md-icon>
    </a>
  </md-toolbar>
</div>
<div class="main-container" fxLayout="column" fxLayoutGap="10px">
  <div fxLayoutGap="10px">
      <app-socket-recipient fxFlex="50%"></app-socket-recipient>
      <app-socket-sender  fxFlex="50%"></app-socket-sender>
  </div>
  <div fxLayoutGap="10px">
      <app-rest-recipient fxFlex="50%"></app-rest-recipient>
      <app-rest-sender fxFlex="50%"></app-rest-sender>
  </div>
</div>